@import "tailwindcss";

:root {
  --font-sans: system-ui, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased leading-relaxed;
}

img {
  @apply max-w-full h-auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}